body {
  background-color: #b8b8b8;
  display:grid;
  width: 200%;
  height: 200%;
  font-family: Spartan;
 }

 p {
   font-size: 50px;
 }
 button {
   padding: 10vw;
   margin: 2vh;
   border: solid 5px black;
   border-radius:200px;
   width: 1%;
   height: 1%;
   position: absolute;
   background-color: red;
 }


 button:hover {
  background-color: #a6170d;
 }

#buttons {
  width: 100%;
  height: 50vh;
}
#firstButton {
    top: 30%;
    left: 1%;
    display: block;
}
#firstButton:hover {
  top:25.8%; /* -4.2% from top value */
  left:-1.4%; /* -2.4% from left value */
  width: 51vh;
  height: 51vh;
}
#secondButton {
  top: 10%;
  left: 80%;
  display: none;
}
#secondButton:hover {
  top:5.8%; /* -4.2% from top value */
  left:77.6%; /* -2.4% from left value */
  width: 51vh;
  height: 51vh;
}
#thirdButton {
  top:50%;
  left:120%;
  display: none;
}
#thirdButton:hover {
  top:45.8%; /* -4.2% from top value */
  left:117.6%; /* -2.4% from left value */
  width: 51vh;
  height: 51vh;
}
#fourthButton {
  top:90%;
  left:60%;
  display: none;
}
#fourthButton:hover {
  top:85.8%; /* -4.2% from top value */
  left:57.6%; /* -2.4% from left value */
  width: 51vh;
  height: 51vh;
}
#fifthButton {
  top:40%;
  left:30%;
  display: none;
}
#fifthButton:hover {
  top:35.8%; /* -4.2% from top value */
  left:27.6%; /* -2.4% from left value */
  width: 51vh;
  height: 51vh;
}
#sixthButton{
  top:120%;
  left:130%;
  display: none;
}
#sixthButton:hover {
  top:115.8%; /* -4.2% from top value */
  left:127.6%; /* -2.4% from left value */
  width: 51vh;
  height: 51vh;
}
#seventhButton{
  top:100%;
  left:10%;
  display: none;
}
#seventhButton:hover {
  top:95.8%; /* -4.2% from top value */
  left:7.6%; /* -2.4% from left value */
  width: 51vh;
  height: 51vh;
}
#eighthButton{
  top:170%;
  left:30%;
  display: none;
}
#eightButton:hover {
  top:165.8%; /* -4.2% from top value */
  left:27.6%; /* -2.4% from left value */
  width: 51vh;
  height: 51vh;
}
#ninthButton{
  top:170%;
  left:120%;
  display: none;
}
#ninthButton:hover {
  top:165.8%; /* -4.2% from top value */
  left:117.6%; /* -2.4% from left value */
  width: 51vh;
  height: 51vh;
}
#tenthButton{
  top:130%;
  left:90%;
  display: none;
}
#tenthButton:hover {
  top:125.8%; /* -4.2% from top value */
  left:87.6%; /* -2.4% from left value */
  width: 51vh;
  height: 51vh;
}
